:root {
    --background: rgb(73, 73, 73);
    --cards: rgb(131, 131, 131);
    --text-blocks: rgb(65, 65, 65);
    --text-color: rgb(236, 236, 236);
}

body {
    background-color: var(--background);
    color: var(--text-color);
    box-sizing: border-box;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

hr {
    border-color: var(--text-blocks);
    margin-block: .5rem;
}

h1 {
    text-align: center;
}

h2 {
    margin-left: 1rem;
}

h3 {
    background-color: var(--text-blocks);
    padding: 0.25rem;
    border-radius: 5px;
    max-width: 30rem;
}

p {
    background-color: var(--text-blocks);
    padding: 0.25rem;
    border-radius: 5px;
    width: fit-content;
    margin-block: .25rem;
}

a {
    color: rgb(172, 172, 172);
}

a:hover {
    color: rgb(209, 209, 209);
}

a.go-back {
    color: rgb(58, 58, 58);
    font-weight: 600;
}

a.go-back:hover {
    color:rgb(34, 34, 34)
}

button {
    background-color: transparent;
    padding: 0;
    border: none;
    color:rgb(172, 172, 172);
    font-size: 1rem;
    cursor: pointer;
    padding-left: .5rem;
}

button:hover {
    color: rgb(209, 209, 209);
}

.logo {
  height: 40px;
  width: auto;
  margin-right: 0.5rem;
  vertical-align: middle;
  padding-bottom: .25rem;
}

.comments-header {
    background-color: transparent;
    margin-left: 1rem;
}

.post-title {
    margin-left: 0;

}

.post-card,
.comment-card {
    background-color: var(--cards);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 1rem;
    margin: auto;
    width: 90%;
    height: auto;
    margin-bottom: 1rem;
}

.post-header,
.comment-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.under-post {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-content {
    width: 80%;
    padding: 0;
}

.truncated-post {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--text-blocks);
    border-radius: 5px;
    padding: .25rem;

}

.no-comments {
    background-color: transparent;
    margin-left: 1rem;
}