:root {
    --background: rgb(73, 73, 73);
    --cards: rgb(131, 131, 131);
    --text-blocks: rgb(65, 65, 65);
    --text-color: rgb(236, 236, 236);
}

body {
    background-color: var(--background);
    color: var(--text-color);
    box-sizing: border-box;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

hr {
    border-color: var(--text-blocks);
    margin-block: .5rem;
}

h1 {
    text-align: center;
}

h2 {
    margin-left: 1rem;
}

h3 {
    background-color: var(--text-blocks);
    padding: 0.25rem;
    border-radius: 5px;
    max-width: 30rem;
}

p {
    background-color: var(--text-blocks);
    padding: 0.25rem;
    border-radius: 5px;
    width: fit-content;
    margin-block: .25rem;
}

a {
    color: rgb(172, 172, 172);
    margin-right: .25rem;
}

a:hover {
    color: rgb(209, 209, 209);
}

a.go-back {
    color: rgb(58, 58, 58);
    font-weight: 600;
}

a.go-back:hover {
    color:rgb(34, 34, 34)
}

button {
    background-color: transparent;
    padding: 0;
    border: none;
    color:rgb(172, 172, 172);
    font-size: 1rem;
    cursor: pointer;
    padding-left: .5rem;
}

button:hover {
    color: rgb(209, 209, 209);
}

.logo {
  height: 40px;
  width: auto;
  margin-right: 0.5rem;
  vertical-align: middle;
  padding-bottom: .25rem;
}

.comments-header {
    background-color: transparent;
    margin-left: 1rem;
}

.post-title {
    margin-left: 0;

}

.post-card,
.comment-card {
    background-color: var(--cards);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 1rem;
    margin: auto;
    width: 90%;
    height: auto;
    margin-bottom: 1rem;
}

.post-header,
.comment-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.under-post {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-content {
    width: 80%;
    padding: 0;
}

.post-image {
    height: auto;
    width: 95%;
    border-radius: 5px;
    margin: .25rem;
    overflow: hidden;
}

.post-detail-content {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: anywhere;
}

.post-detail-image {
    height: auto;
    width: 100%;
    border-radius: 5px;
    margin: .25rem;
    overflow: hidden;
}

.truncated-post {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--text-blocks);
    border-radius: 5px;
    padding: .25rem;

}

.failed {
    background-color: transparent;
    margin-left: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.failed p{
    background-color: transparent;
    padding: 0;
    margin: 0;
}

.loading {
    width: auto;
    height: auto;
}

.loading-container {
    background-color: var(--background);
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.loading-post {
    background-color: var(--cards);
    width: 95%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.loading-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.loading-title {
    background-color: var(--text-blocks);
    width: 30rem;
    height: 2rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    margin-inline: .5rem;
    border-radius: 5px;
}

.loading-ups {
    background-color: var(--text-blocks);
    border-radius: 5px;
    width: 2rem;
    height: 2rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    margin-inline: .5rem;
}

.loading-content {
    background-color: var(--text-blocks);
    border-radius: 5px;
    width: 97.5%;
    height: 5rem;
    margin-inline: .5rem;
}

.loading-hr {
    width: 97%;
}

.loading-under-post {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.loading-author {
    background-color: var(--text-blocks);
    border-radius: 5px;
    width: 10rem;
    height: 2rem;
    margin-top: .5rem;
    margin-bottom: 1rem;
    margin-inline: .5rem;
}

.loading-comments {
    background-color: var(--text-blocks);
    border-radius: 5px;
    width: 2rem;
    height: 2rem;
    margin-top: .5rem;
    margin-bottom: 1rem;
    margin-inline: .5rem;
}

.loading-comment {
    margin: auto;
    background-color: var(--cards);
    width: 95%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding-bottom: 1rem;
    margin-bottom: 2rem;
}

.loading-comment-author {
    background-color: var(--text-blocks);
    border-radius: 5px;
    width: 10rem;
    height: 2rem;
    margin-top: .5rem;
    margin-bottom: 1rem;
    margin-inline: .5rem;
}

.loading-comment-ups {
    background-color: var(--text-blocks);
    border-radius: 5px;
    width: 2rem;
    height: 2rem;
    margin-top: .5rem;
    margin-bottom: 1rem;
    margin-inline: .5rem;
}

.loading-comment-content {
    background-color: var(--text-blocks);
    border-radius: 5px;
    width: 97.5%;
    height: 4rem;
    margin-inline: .5rem;
}

@keyframes shimmer {
    0% {
        background-position: -200% 0%;
    }

    100% {
        background-position: 200% 0%;
    }
}

.shimmer {
    background: linear-gradient(
        130deg,
        var(--text-blocks) 0%,
        var(--text-blocks) 40%,
        var(--cards) 50%,
        var(--text-blocks) 60%,
        var(--text-blocks) 100%
    );
    background-size: 200% 200%;
    animation: shimmer 3s ease-in 1;
}

.retry-button {
    padding-top: .25rem;
}