:root {
    --background: rgb(73, 73, 73);
    --cards: rgb(131, 131, 131);
    --text-blocks: rgb(65, 65, 65);
    --text-color: rgb(236, 236, 236);
}

body {
    background-color: var(--background);
    color: var(--text-color);
    box-sizing: border-box;
    font-family: 'Open Sans';
    font-size: 18px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
}

.catamaran {
    font-family: Catamaran;
    margin-bottom: .5rem;
}

.about {
    background-color: transparent;
    margin: auto;
    padding: 0;
    margin-bottom: 1rem;
    text-align: center;
}

footer {
    text-align: center;
    margin-bottom: 0;
}

hr {
    border-color: var(--text-blocks);
    margin-block: .5rem;
    width: 90%;
}

h1 {
    text-align: center;
}

h2 {
    width: 85%;
    text-align: left;
    margin: auto;
    margin-bottom: .5rem;
}

h3 {
    background-color: var(--text-blocks);
    padding: 0.25rem;
    border-radius: 5px;
    max-width: 30rem;
    margin-block: .5rem;
}

p {
    background-color: var(--text-blocks);
    padding: 0.25rem;
    border-radius: 5px;
    width: fit-content;
    margin-block: .25rem;
}

a {
    color: rgb(172, 172, 172);
    margin-left: .25rem;
}

a:hover {
    color: rgb(209, 209, 209);
}

a.go-back {
    color: rgb(58, 58, 58);
    font-weight: 600;
    margin: 0;
    margin-bottom: .25rem;
}

.go-back-container {
    margin: auto;
    width: 90%;
    text-align: left;
}

a.go-back:hover {
    color:rgb(34, 34, 34)
}

button {
    background-color: transparent;
    padding: 0;
    border: none;
    color:rgb(172, 172, 172);
    font-size: 1rem;
    cursor: pointer;
    padding-left: .5rem;
}

button:hover {
    color: rgb(209, 209, 209);
}

.logo {
  height: 40px;
  width: auto;
  margin-right: 0.5rem;
  vertical-align: middle;
  padding-bottom: .25rem;
}

.comments-header {
    background-color: transparent;
    width: 85%;
    text-align: left;
    margin: auto;
    max-width: none;
}

.post-title {
    margin: auto;
    width: 90%;
}

.post-card,
.comment-card {
    background-color: var(--cards);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin: auto;
    width: 90%;
    height: auto;
    margin-bottom: 1rem;
    padding-block: .25rem;
}


.post-header,
.comment-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
}

.under-post {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
}

.post-content {
    width: 90%;
    padding: 0;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: anywhere;
}

.comment-content {
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: anywhere;
    width: 90%;
    margin: auto;
    padding: 0;
}

.post-image {
    height: 15rem;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
    margin: auto;
    overflow: hidden;
}

.post-detail-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: anywhere;
    margin: auto;
}

.post-detail-content p {
    width: 100%;
}

.post-detail-image {
    height: auto;
    width: 100%;
    border-radius: 5px;
    margin: .25rem;
    overflow: hidden;
}

.truncated-post {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--text-blocks);
    border-radius: 5px;
    padding-block: .25rem;
    width: 90%;
    margin: auto;
}

.failed {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    width: 100%;

    align-items: center;
    justify-content: center;
    margin-bottom: .25rem;
}

.failed p{
    background-color: transparent;
    padding: 0;
}

.loading {
    width: 100%;
    height: auto;
}

.loading-container {
    background-color: var(--background);
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.loading-post {
    background-color: var(--cards);
    width: 90%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.loading-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin-block: .5rem;
}

.loading-title {
    background-color: var(--text-blocks);
    width: 20rem;
    height: 2rem;
    border-radius: 5px;
}

.loading-ups {
    background-color: var(--text-blocks);
    border-radius: 5px;
    width: 2rem;
    height: 2rem;
}

.loading-content {
    background-color: var(--text-blocks);
    border-radius: 5px;
    width: 90%;
    height: 5rem;
}

.loading-hr {
    width: 90%;
    margin-bottom: .75rem;
}

.loading-under-post {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 90%;
    margin-bottom: .5rem;
}

.loading-author {
    background-color: var(--text-blocks);
    border-radius: 5px;
    width: 10rem;
    height: 2rem;
}
/* the loading post small comment count */
.loading-comments {
    background-color: var(--text-blocks);
    border-radius: 5px;
    width: 2rem;
    height: 2rem;
}




/* the comment loading blocks */
.loading-comment {
    margin: auto;
    background-color: var(--cards);
    width: 90%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 2rem;
    padding-block: .5rem;
}

.loading-comment-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin: auto;
    width: 90%;
    margin-bottom: .5rem;
}

.loading-comment-author {
    background-color: var(--text-blocks);
    border-radius: 5px;
    width: 10rem;
    height: 2rem;
}

.loading-comment-ups {
    background-color: var(--text-blocks);
    border-radius: 5px;
    width: 2rem;
    height: 2rem;
}

.loading-comment-content {
    background-color: var(--text-blocks);
    border-radius: 5px;
    width: 90%;
    height: 4rem;
    margin: auto;
}

@keyframes shimmer {
    0% {
        background-position: -200% 0%;
    }

    100% {
        background-position: 200% 0%;
    }
}

.shimmer {
    background: linear-gradient(
        130deg,
        var(--text-blocks) 0%,
        var(--text-blocks) 40%,
        var(--cards) 50%,
        var(--text-blocks) 60%,
        var(--text-blocks) 100%
    );
    background-size: 200% 200%;
    animation: shimmer 3s ease-in 1;
}

.retry-button {
    padding-top: .25rem;
}

.search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--cards);
    width: 22rem;
    margin: auto;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.search button {
    padding: 0;
    height: 2rem;
}

.search-icon {
    height: 2rem;
    width: 2rem;
    overflow: hidden;
    object-fit: cover;
}

.search-bar {
    height: 1.75rem;
    width: 20rem;
    border: none;
    padding: .25rem;
    border-radius: 5px;
}

.gallery {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}


.small-screen {
    display: none;
}

@media only screen and (max-width: 345px) {
    .comments {
        display: none;
    }
}

@media only screen and (max-width: 715px) {
    .small-screen {
        display: block;
    }

    .large-screen {
        display: none;
    }
}

@media only screen and (max-width: 492px) {
    .ups,
    .loading-ups {
        display: none;
    }

    .search {
        width: 18rem;
    }

    .search-bar {
        width: 16rem;
    }
}

@media only screen and (min-width: 1105px) {
    .comment-card,
    .post-card,
    .loading-post,
    .loading-comment {
        width: 70%;
    }
    .comments-header,
    h2 {
        margin: auto;
        width: fit-content;
        margin-bottom: .5rem;
    }

    h3 {
        max-width: fit-content;
    }
}

@media only screen and (max-width: 1330px) {
    .comment-card,
    .post-card,
    .loading-post,
    .loading-comment {
        width: 80%;
    }
}

@media only screen and (max-width: 1165px) {
    .comment-card,
    .post-card,
    .loading-post,
    .loading-comment {
        width: 85%;
    }
}